@page "/"

<div class="cards">
    <div class="card">
        <NavLink href="/lenovo">
            <img src="images/lenovo.png" alt="Lenovo" class="logo" />
            <h2>Lenovo</h2>
            <p>Clique para fazer upload de arquivos Lenovo</p>
        </NavLink>
    </div>
    <div class="card">
        <NavLink href="/hp">
        <img src="images/hp.png" alt="HP" class="logo" />
            <h2>HP</h2>
            <p>Clique para fazer upload de arquivos HP</p>
        </NavLink>
    </div>
    <div class="card">
        <NavLink href="/cisco">
        <img src="images/cisco.png" alt="Cisco" class="logo" />
        <h2>Cisco</h2>
        <p>Clique para fazer upload de arquivos Cisco</p>
        </NavLink>
    </div>
    <div class="card">
        <NavLink href="/microware">
            <img src="images/logo_mw.png" alt="Microware" class="logo" />
            <h2>Microware</h2>
            <p>Clique para fazer upload de arquivos Microware</p>
        </NavLink>
    </div>
    <div class="card">
        <NavLink href="/bling">
            <img src="images/bling.png" alt="Bling" class="logo" />
            <h2>Bling</h2>
            <p>Clique para enviar produtos para Bling</p>
        </NavLink>
    </div>
</div>